/* Estilos específicos para iPads em modo retrato 1080x1920 */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1080px) 
and (orientation: portrait) {
    .container {
        width: 70%; 
    }

    body {
        background-image: url('../images/arteUFC.png');
        background-size:  100% 135vw;
        background-position: top;
        background-repeat: no-repeat;
    }
    
    .ufcLinks {
        position: relative;
        top: 590px;
    }
    
    .ufcLinks a {
        list-style-type: none;
        text-align: center;
        font-weight: bolder;
        font-family: sans-serif;
        margin: auto;
        width: 50%;
        height: 50px;
        cursor: pointer;
        padding: 10px;
        border: 5px solid #9f0753;
        border-radius: 46px;
        margin-bottom: 8px;
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center; 
    }
}

/* Estilos específicos para iPads em modo paisagem 1080x1920 */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1080px) 
and (orientation: landscape) {
    .container {
        width: 60%;
    }
    
    body {
        background-image: url('../images/arteUFC.png');
        background-size:  100% 135vw;
        background-position: top;
        background-repeat: no-repeat;
    }
    
    .ufcLinks {
        position: relative;
        top: 570px;
    }
    
    .ufcLinks a {
        list-style-type: none;
        text-align: center;
        font-weight: bolder;
        margin: auto;
        width: 50%;
        height: 50px;
        cursor: pointer;
        padding: 10px;
        border: 5px solid #9f0753;
        border-radius: 46px;
        margin-bottom: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@font-face {
    font-family: 'FontMac';
    src: url('../fonts/Gilroy-Bold.ttf') format('truetype');
}


@font-face {
    font-family: 'FontMac2';
    src: url('../fonts/Gilroy-SemiBold.ttf') format('truetype');
}

/* Estilos gerais */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

body::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 135vh; 
    height: 100vw; 
    background-image: url('../images/arte.png');
    background-size: contain; 
    background-position: top;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%) rotate(90deg); /* girando a imagem centralizada na tela */
}


.screen {
    width: 100vh; 
    height: 100vw; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotate(90deg); /* girando o conteúdo da tela */
    transform-origin: center; 
}
.content {
    text-align: center;
    color: white;
}

.ufcLinks {
    width: 600px;
    margin: 20px auto;
}

.ufcLinks a {
    display: block;
    color: black;
    text-decoration: none;
    margin: 10px 0;
}


.textMain {
    text-align: center;
    font-family: 'fontMac2';
    font-weight: 500;
    padding-top: 150px;
    margin-left: 10px;
    display: flex;
    align-content: start;
    justify-content: start;
    font-size: 39px;
    width: 550px;
}

.ufcLinks {
    margin-right: auto;
    width: 100%;
    display: flex;
    align-content: end;
    justify-content: end;
}

.ufcLinks a {
    list-style-type: none;
    text-align: center;
    font-weight: bolder;
    font-family: 'FontMac';
    font-size: 24px;
    width: 600px;
    height: 50px;
    cursor: pointer;
    padding: 20px;
    border: 4px solid #9f0753;
    border-radius: 46px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ufcLinks a:hover {
    transform: none;
    background-color: #9f0753; 
    color: #FFFF;
}
